<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2020 <a href="" target="_blank">Voyaqi</a>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="/about-us" id="about-us-footer-button" class="nav-link"><%=__('About Us') %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--   Core JS Files   -->
<script src="js/core/jquery.min.js" type="text/javascript"></script>
<script src="js/core/popper.min.js" type="text/javascript"></script>
<script src="js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="js/plugins/moment.min.js"></script>
<script src="js/plugins/datetimepicker.js" type="text/javascript"></script>
<script src="js/plugins/bootstrap-datepicker.min.js"></script>
<script src="js/analytics_events.js" type="text/javascript"></script>
</body>

</html>