<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173988299-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173988299-1');
      </script>
    <title>
      <%= title %>
    </title>

    <%- include("_metatags.ejs") %>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="css/argon-design-system.css?v=1.2.0" rel="stylesheet" />
    <!-- Custom CSS Files -->
    <link href="css/custom.css" rel="stylesheet" />
  </head>

  <body class="landing-page">
    <!-- Navbar -->
    <nav
      id="navbar-main"
      class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom"
    >
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="/">
          <img src="img/brand/logoML.png" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="#">
                  <img src="img/brand/logoML.png" />
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button
                  type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#navbar_global"
                  aria-controls="navbar_global"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>

          <ul class="navbar-nav navbar-nav-hover align-items-lg-center d-xs-block d-lg-none">
            <li class="nav-item">
              <a
                href='<%= process.env.URL %>'
                target="_blank"
                class="nav-link navbar-login"
                role="button"
              >
                <i class="fas fa-sign-in-alt d-lg-none"></i>
                <span class="nav-link-inner--text"><%=__('Login') %></span>
              </a>
            </li>
            <li class="nav-item">
              <a
                href='<%= process.env.URL %>/auth/register'
                target="_blank"
                class="nav-link navbar-register"
                role="button"
              >
                <i class="fas fa-child d-lg-none"></i>
                <span class="nav-link-inner--text"><%=__('Register') %></span>
              </a>
            </li>
            <li class="nav-item">
              <div>
                <a href="changeLang/en" class="mr-2">
                  <img src="img/langs/flag_UK.svg" class="flag-img" alt="English"/>
                </a>
                <a href="changeLang/es">
                  <img src="img/langs/flag_ES.svg" class="flag-img" alt="Spanish"/>
                </a>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a
                href='<%= process.env.URL %>'
                target="_blank"
                class="btn btn-outline-primary btn-icon navbar-login"
              >
                <span class="btn-inner--icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="nav-link-inner--text"><%=__('Login') %></span>
              </a>
              <a
                href='<%= process.env.URL %>/auth/register'
                target="_blank"
                class="btn btn-neutral btn-icon navbar-register"
                id="navbar-register-button"
              >
                <span class="btn-inner--icon">
                  <i class="fas fa-child mr-2"></i>
                </span>
                <span class="nav-link-inner--text"><%=__('Register') %></span>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="changeLang/en" class="mr-2">
                <img src="img/langs/flag_UK.svg" class="flag-img" alt="English" />
              </a>
              <a href="changeLang/es">
                <img src="img/langs/flag_ES.svg" class="flag-img" alt="Spanish" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
