<%- include("_header.ejs") %>

<script>
  gtag('config', 'UA-173988299-1', {
    'page_title': 'about us',
    'page_path': '/about-us'
  });
</script>

<div class="wrapper mt-5">

  <div class="section features-1 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
          <h3 class="display-3"><%=__("We few. We happy few. We band of brothers") %></h3>
          <p class="lead">
            <%=__("Yes, we have done this amazing work in barely three weeks and without killing each other. ") %> </br>
            <%=__("There has never been a fifth member on the team.") %> </br>
            <%=__("Really, those are simply rumors.") %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-0 mx-md-auto px-5">
          <img class="" src="img/theme/devs/bea_garcia-dev.jpg" width="100%" />
        </div>

        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4">Beatriz García</h4>
              <p>
                La curiosidad siempre ha marcado mi destino. Periodista reconvertida en Web Developer Full Stack, la
                programación se ha convertido en algo más que una profesión. Trabajo en entornos internacionales y mi
                mantra es no dejar nunca de aprender.
              </p>
              <p>
                <a href="https://www.linkedin.com/in/beatriz-garcia-jimenez" target="_blank" id="bea-linkedin" class="personal-link">Linkedin</a>, <a
                  href="https://github.com//beatrizAdalab/" target="_blank" id="bea-github" class="personal-link">Github</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4">Ítalo Ravina</h4>
              <p>
                El nombre ya tiene lo suyo, soy de Perú, hace casi 20 años vivo en España (tengo 30) y hace 3 años
                decidí dar un cambio a nivel laboral y profesional y decidí estudiar programación, soy web developer
                Full Stack he colaborado en diversos proyectos, aportando en casi todo el ciclo de vida de cada uno.
                Otra de mis aficiones es el rugby y la cerveza, y casi siempre (siempre) van unidas.
              </p>
              <p>
                <a href="https://www.linkedin.com/in/italofranco/" target="_blank" id="italo-linkedin" class="personal-link">Linkedin</a>, <a
                  href="https://github.com/Francker1/" target="_blank" id="italo-github" class="personal-link">Github</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mt-5 mx-md-auto px-5">
          <img class="ml-lg-5 devs rounded" src="img/theme/devs/italo_ravina_dev.jpeg" width="100%" />
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-0 mx-md-auto">
          <img class="" src="img/theme/devs/ramon.jpg" width="100%" />
        </div>

        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4">Ramón Sánchez</h4>
              <p>
                <p>Llevo más de 10 años gestionando proyectos digitales y de transformación, como emprendedor en mi 
                  propia startup, hasta en grandes multinacionales, siempre admirando el trabajo de los desarrolladores 
                  que hacían posible todo. Un día decidí pasar de espectador, a ver detrás del telón y, finalmente, 
                  ser parte del espectáculo. ¡Sueño cumplido!
                </p>
                <p>
                <a href="https://www.linkedin.com/in/rsdsanchez/" target="_blank" id="ramon-linkedin" class="personal-link">Linkedin</a>, <a
                  href="https://github.com/geuvadan/" target="_blank" id="ramon-github" class="personal-link">Github</a>
              </p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="section features-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="info info-horizontal info-hover-primary">
                <div class="description pl-4">
                  <h4 class="display-4">Mario Vidal</h4>
                  <p>
                    <%=__("Entrepeneur & intrapeneur, part-time failure.") %>
                    <%=__("After working at big firms and then building my own start-up, now I'm all about coding.") %> </br></br>
                    <%=__("What will be next? wanna sponsor a sail around-the-world cruise?") %></br></br>
                    <span><a href="https://www.mavidalma.es" id="mario-web" class="personal-link" target="_blank">mavidalma.es</a> -- <a href="https://www.linkedin.com/in/mariovidalm/" target="_blank" id="mario-linkedin"class="personal-link">linkedin</a> -- <a href="https://github.com/mavidalma" target="_blank" id="mario-github" class="personal-link">gitHub</a></span>
                  </p>
                </div>
              </div>
            </div>
    
            <div class="col-12 col-md-6 mt-5 mx-md-auto px-5">
              <img class="ml-lg-5" src="img/theme/devs/mario_tuno.jpeg" width="100%" />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mt-5 mx-md-auto px-5">
          <img class="ml-lg-5" src="img/ill/how_contact.svg" width="100%" />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("_footer.ejs") %>