<%- include("_header.ejs") %>
<!-- End Navbar -->
<script>
  gtag('config', 'UA-173988299-1', {
    'page_title': 'homepage',
    'page_path': '/'
  });
</script>
<div class="wrapper">
  <div class="section section-hero section-shaped">
    <div class="shape shape-style-3 shape-default"></div>
    <div class="page-header">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center">
              <h1 class="text-white display-1"><%=__('Your routes in your city') %></h1>
              <h2 class="display-4 font-weight-normal text-white">
                <%=__('The best motorsharing has arrived!') %>
              </h2>
              <div class="btn-wrapper mt-4">
                <a
                  href='<%= process.env.URL %>'
                  class="btn btn-primary btn-icon mt-3 mb-sm-0"
                  target="_blank"
                  id="go-to-app-button"
                >
                  <span class="btn-inner--icon"><i class="fas fa-car"></i></span>
                  <span class="btn-inner--text"><%=__('Go to the APP') %></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="title"><%=__('Do you have free places?') %></h4>
              <p>
                <%=__('You can offer the free places you have on the usual routes you make: ') %>
                <%=__('home work, work school, etc. Whatever you want! Sign up, create ') %>
                <%=__('your routes and start sharing!') %>
              </p>
              <a href='<%= process.env.URL %>/auth/register' id="free-places-link" class="text-info index-link"><%=__("I've got places available!") %></a>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary mt-5">
            <div class="description pl-4">
              <h4 class="title"><%=__("You're a co-pilot?") %></h4>
              <p>
                <%=__("If you're looking for someone who makes the same journey as you, you ") %>
                <%=__('can look for routes of the users contact them and save a little money.') %>
              </p>
              <a href='<%= process.env.URL %>/auth/register' id="copilot-link" class="text-info index-link"><%=__("I'm a co-pilot!") %></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 mt-5 mx-md-auto px-5">
          <img class="ml-lg-5" src="img/ill/home_motor1.svg" width="100%" />
        </div>
      </div>
    </div>
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
          <span class="badge badge-primary badge-pill mb-3"><%=__("How to use Voyaqi") %></span>
          <h3 class="display-3"><%=__("It's very easy, we promise!") %></h3>
          <p class="lead">
            <%=__("Whether you offer seats or are a co-driver, register and start sharing ") %>
            <%=__("your car, motorbike, bus...") %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <i class="fas fa-angle-down display-3"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-0 mt-5 mx-md-auto px-5">
          <img class="" src="img/ill/how_map.svg" width="100%" />
        </div>

        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4"><%=__('The routes') %></h4>
              <p>
                <%=__("As a driver, you can offer the usual routes that you do and as a ") %>
                <%=__("co-driver, look for those routes that best suit you and are closest ") %>
                <%=__("to your destination.") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4"><%=__('Contact other voyaqers') %></h4>
              <p>
                <%=__("Once you have found your ideal route or created different paths, ") %>
                <%=__("you can contact other users through our chat and arrange collection ") %>
                <%=__("points, plan the route, times to meet...") %>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mt-5 mx-md-auto px-5">
          <img class="ml-lg-5" src="img/ill/how_contact.svg" width="100%" />
        </div>
      </div>
    </div>
  </div>

  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-0 mx-md-auto">
          <img class="" src="img/ill/how_search_routes.svg" width="100%" />
        </div>

        <div class="col-md-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h4 class="display-4"><%=__('Share!') %></h4>
              <p>
                <%=__("If there's a match, you're already starting to do something for our ") %>
                <%=__("planet by sharing your favorite mode of transportation. Is there a ") %>
                <%=__("better feeling?") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
</div>

<%- include("_footer.ejs") %>
